/node_modules
/bower_components
/app
/tmp
/dst
/package-lock.json

*.sublime-workspace
*.sublime-project

*.bak
*.old
*.bak.*
*.old.*

*~
*.lock
*.DS_Store
*.sw*
*.out

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tmp
.tmp

.vs
.idea
.sass-cache

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
